# Dependencias
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Variables de entorno
.env

# Build
dist/
build/

# Logs
logs/
*.log

# Sistema operativo
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Uploads
uploads/
temp/

# Testing
coverage/

# Prisma
prisma/*.db
prisma/*.db-journal
